#post {
  width: 710px;
}

.signature {
  height: 7.14285714285714285714em;
  margin-bottom: .35714285714285714286em;
}

.focus {
  color: #424242; }

#title {
  height: 6em;
  margin-bottom: 1.5em; 
  }
  #title .info {
    margin-bottom: 0px;
    color: #A6A4A4;
    font-style: italic;
    }
  #title .info .date {
    font-style: normal;
  }

  #title .profile_image {
    float: left;
    margin-top: -0.7em;
    margin-left: -0.4em;
    margin-right: 0.8em;
    margin-bottom: 1em;
    width: 70px;
    height: 70px;
    border: 1px solid #FFF;
    -moz-box-shadow: 0px 2px 2px #9A9A9A;
    -webkit-box-shadow: 0px 2px 2px #9A9A9A; }

.content {
  text-align: left;
}

#admin_buttons {
  height: 7.5em;
}
#post_selector {
  line-height: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px; }

#posts {
  margin: 0;
  margin-bottom: 3em; 
  }
  
#posts #loading_post {
  text-align: center;
  height: 3em;
  height: 4.429em;
  padding: 1.5em 0em;
  display: none;
  position: relative;
  top: -7.429em;
  background-color: #FFF;
}
  #posts #loading_post.normal_position {
    top: 0;
  }
  #loading_post img {
    margin-left: auto;
    margin-right: auto;
  }

#posts li {   list-style: none; }
.post {
  border-top: 0.071em solid #dddddd;
  height: 7.429em;
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  .post.important {
    background-color: #d1f2ff; }
  .post .info {
    width: 65%;
    overflow: hidden;
    float: left;
    position: relative;  }
  .post .info.wide {
    width: 100%;
  }
    .post .info .button {
      display: inline;
    }
    .post .info .detailed_info { font-style: italic; }
    .post .info .detailed_info a {
      color: #303030;
      text-decoration: none; }
      .post .info .detailed_info a:hover {
        text-decoration: underline; }
    .post .info .date {
      font-family: "Sorts MG";
      height: 4.429em;
      padding: 1.5em 0em;
      padding-left: 0;
      width: 99px;
      margin-right: 2em;
      float: left;
      text-align: center; 
      background: transparent url('/images/date_badge.png') no-repeat center center;
      }
      .post .info .date .year, .post .info .date .month {
        text-align: center; }
      .post .info .date .day {
        text-align: center;
        font-size: 2em;
        font-weight: bold; }
      .post .info .date .year {
        font-size: 1.5em;
        font-weight: bold; }
      .post .info .date .day {
        color: #303030; }
      .post .info .date .month {
        color: #303030;
        font-size: 1.571em; }
      .post .info .date .year {
        color: #b7b5b5; }
    .post .info .title {
      padding: 1.5em 0;
      height: 4.429em;
      white-space: nowrap; }
      .post .info .title h1 {
        white-space: nowrap; }
        .post .info .title h1 a.unfinished { color: #72000E; }
        .post .info .title h1 a.reviewed { color: #10720E; }
      .post .info .title .detailed_info a {
        text-decoration: none; 
        color: #2e5d89;
        border-bottom-color: #498fd3;}        
      .post .info .title .detailed_info {
        white-space: nowrap;
        color: #b7b5b5; }
      .post .info .title .fadeout {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 200px;
        width: 20px;
        background: transparent url("/images/fadeout.png") repeat-y; }
  .post .text,
  .post .admin_buttons {
    width: 35%;
    overflow: hidden;
    height: 6em;
    float: left; }
    .post .text p {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1.5em;
      max-width: 32.857em;
      padding: 1.5em;
      margin-left: auto;
      margin-right: 0;
      color: #999999; }
      

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin-bottom: 3em;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: transparent url('/images/scroll_background.png') repeat-y;
}
.jScrollPaneDrag {
	position: absolute;
	background: transparent url('/images/scroll_handle_background.png') repeat;
	cursor: pointer;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 9px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}    

/** FORM ******************************/
#post_body,
#post_intro,
#post_title,
#post_tag_list {
  font: 14px/1.5em Helvetica,Arial,sans-serif;
  width: 95%;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  outline: none;
}

select {
  font: 14px/1.5em Helvetica,Arial,sans-serif;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 1.5em;
  line-height: 1.5em;  
  outline: none;
}

#post_title {
  font-family: "League Gothic";
  letter-spacing: 0.05em;
  font-size: 2.5em;
  line-height: 0.6em;
  margin-bottom: 0.6em;
  font-weight: normal;
  color: #303030; }
}
  
