= stylesheet "posts", "buttons"
= javascript "posts"

%hr

%h1 Other posts

#post_type_selector
  %button#all.button.active Show all
  %button#martin.button By Martin
  %button#mikael.button By Mikael
  %button#patrik.button By Patrik

%ul#posts
  = render :partial => "listed_post", :collection => @posts